@import 'reset';

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    // height: 100vh;
    color: #444444;
    animation: backdrop 2.5s forwards;
    overflow-x: hidden;
    font-family: "trailmade", script;
    cursor: default;
    // background-image: url(/img/goat.svg);
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: 345px 270px;
}

a {
    color: #444444;
    text-decoration: none;

    &:hover {
        color: #666666;
    }
}

::selection {
    background: #ffffff;
}

::-moz-selection {
    background: #fff;
}

nav {
    position: fixed;
    z-index: 99;
    list-style: none;
    right: 0;
    font-size: 2em;
    padding: 0.5em;
}

li {
    display: inline-flex;
    padding: 0 0.3em;
}

nav,
.hero-branding {
    font-family: "trailmade", script;
}

.hero-branding {
    z-index: 1;
}

.container {
    // position: inherit;
    // height: 100vh;
    width: 100%;
    // display: flex;
    // align-items: center;
    // justify-content: center;



    .main {
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        height: 100vh;
        width: 100%;

        img {
            position: absolute;
            height: 37%;
            width: 50%;
        }
    }

    .secondary {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100%;
        text-align: center;
    }

    #showcase {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100%;
        text-align: center;
        font-size: 4em;
    }

    #contact {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100%;
        text-align: center;
        font-size: 4em;
    }
}

.tagline {
    font-size: 3em;
    padding: 4em;
    line-height: 80px;
    color: #666666;
}

.hero-branding {
    font-size: 9em;
    text-transform: uppercase;


    &:hover {
        color: #666666;
    }

    p:nth-of-type(1) {
        margin-right: 0.5em;
    }

    p:nth-of-type(2) {
        text-align: right;
    }
}



form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input[type] {
    background: #454545;
    border: none;
    color: #262626;
    height: 45px;
    font-size: 45px;
    font-family: "trailmade", script;
    padding: 6px;
}

label {
    display: flex;
    align-items: center;
}

.showcase-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.showcase-item {
    display: flex;
    position: relative;
    width: 33.3%;
}

.showcase-details {
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

.showcase-details {
    display: none;
    // background: #ffffff61;
    color: #ebebeb;
    font-size: 0.5em;

    .showcase-item:hover & {
        display: flex;
    }

}

.showcase-item:hover .showcase-img, .showcase-item:hover .showcase-img img {
    opacity: 0.6;
}

.showcase-desc {
    padding: 30px;
}

.showcase-item-container {
    padding: 20px;
}

.showcase-img,
.showcase-img img {
    width: 100%;
    height: 100%;
}

#bold {
    color: #cdcdcd;
    cursor: pointer;
}

.standout {
    background: linear-gradient(45deg, white, #0072ff4d);
    // animation: standout 5s linear 2s forwards infinite alternate;
    color: white;

    .tagline,
    a {
        color: #fff;
    }
}


@keyframes backdrop {
    from {
        background-color: #fff;
    }

    to {
        background-color: #262626;
    }
}

@keyframes standout {
    0% {
        background-color: #262626;
    }

    25% {
        background-color: red;
    }

    75% {
        background-color: blue;
    }

    100% {
        background-color: green;
    }
}